*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva , Tahoma, sans-serif;
    text-decoration: none;
    color: black;
    list-style:none;
}

.logo img{
    width:150px;
    height:50px;
    border: 0.5px solid rgb(248,232,217)
}

.bar{
    display: none;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding:0 7vw;
    background-color:rgb(248,232,217);
    border-bottom: 2px solid rgb(252,196,124);
    box-shadow: 0 2px 20px rgb(253,124,124);
}
.header ul{
    display: flex;
    align-items: center;
}

.header ul li:hover{
    color: rgb(253,57,8);

}

.nav ul li{
    padding:0 15px;
    font-size:14 px;
    font-weight: bold;
}

.account{
    flex:0.1;
}

.account ul{
    display:flex;
    justify-content:end;
}

.account ul li{
    padding:0 13px;
    font-size:14px;
    font-weight: bold;
}

.bar i:hover{
    color:rgb(253,57,8);
}


.contact{
    position:relative;
    min-height:100vh;
    padding:50px 100px;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    background-color:rgb(248,232,217);
}

.contact .content{
    max-width:800px;
    text-align:center;
}

.contact .content h2{
    font-size:38px;
    font-weight:800;
    color:black;
    padding-top: -20px;

}

.contact .content p{
    font-weight:300px;
    color:black;
    padding-top: 20px;
    padding-bottom: 30px;
    
}

.container{
    width:100%;
    display:flex;
    justify-content: center;
    align-items:center;
    margin-top:30px;
}

.container .contactInfo{
    width:50%;
    display:flex;
    flex-direction:column;
}

.container .contactInfo .box {
    position:relative;
    padding:20px 0;
    display:flex;
}

.container .contactInfo .box .icon{
    min-width:60px;
    height:60px;
    background:#fff;
    display:flex;
    justify-content:center;
    align-items: center;
    border-radius: 50%;
    font-size:22px;
}

.container .contactInfo .box .text{
    display:flex;
    margin-left:20px;
    font-size:18px;
    color:black;
    flex-direction: column;
    font-weight: 500;
}

.container .contactInfo .box .text h3{
    font-weight:700;
    color: rgb(253,77,8);
}

.contactForm{
    width:40%;
    padding:40px;
    background:#fff;
    height:450px;
}

.contactForm h2{
    font-size:30px;
    color:#333;
    font-weight:600;
    text-align: center;
    color:rgb(253,77,8);

}

.contactForm .inputBox{
    position:relative;
    width:100%;
    margin-top:30px;

}

.contactForm .inputBox input,.contactForm .inputBox textarea{
    width:100%;
    padding:5px 0;
    font-size:16px;
    margin: 10px 0;
    border:none;
    border-bottom: 2px solid #333;
    outline:none;
    
}

.contactForm .inputBox span{
    position:absolute;
    left:0;
    padding:5px 0;
    font-size:16px;
    margin: 10px 0;
    pointer-events:none;
    transition:0.3s ease-out;
    color:#666;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span
{
    display: none;
}

.contactForm .inputBox input:not(:placeholder-shown) ~ span,
.contactForm .inputBox textarea:not(:placeholder-shown) ~ span {
    transform: translateY(-20px) translateX(-10px); 
}
.contactForm .inputBox input[type="submit"]{
    width:100px;
    background:#00bcd4;
    color:#fff;
    border:none;
    cursor:pointer;
    padding:10px;
    font-size:18px;
}

.red_btn{
    cursor:pointer;
    margin-top:20px;
    width:160px;
    font-weight:bold;
    color:aliceblue;
    line-height:50px;
    background-color: rgb(253,77,8);
    border-radius:5px;
    border: 1px solid rgb(252,120,20); 
    box-shadow: 0 10px 15px rgb(250,120,69);
    transition: all 0.2s; 
    
}

.red_btn i{
    color:white;
    transition:all 0.2s;
}

.red_btn:hover{
    background-color:white;
    box-shadow:0 2px 15px rgb(250,120,69);
    border: 1px solid rgb(253,77,8);
    color:rgb(253,77,8);
}

.red_btn:hover i{
    color: rgb(253,77,8);   
}

.footer{
    padding:50px 0;
    border-top:2px solid rgb(252,184,107);
    background-color:rgb(252,222,195);
    display:flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: space-around;
}

.footer-1 .logo img{
    width: 370px;
    height: 140px;
    padding-bottom: 20px;
    padding-top:-20px;
    box-shadow:4px rgb(97, 72, 49);

}

.footer-1 p{
    cursor:pointer;
    font-size:20px;
    padding:2px;
    color:black;
    font-weight:bold;   
}

.footer-2{
    text-align: center;
    cursor:pointer;
}

.footer-2 img{
    width: 200px;
    height:200px;
    margin-bottom:15px;
}

.footer-2 h2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}





